<h4>{{name}}</h4>
<h4>{{username}}</h4>
{{#if post.length}}
  <div class="col-md-6 project-list">
    <h3>Posts:</h3>

    {{#each post as |posts| }}
<div class="project-box">
  <div class="box-header">
    <h2>{{posts.post_name}}</h2>
  </div>
  <div class="box-description">
    <p>{{posts.description}}</p> 
    <p>{{format_date posts.date_created}}</p>
  </div>
</div>
{{/each}}
  </div>
  {{/if}}
</div>